AWS_PROFILE=default
AWS_REGION=us-west-2
AWS_ACCOUNT_ID=602695720187
EKS_CLUSTER_NAME=Cluster9EE0221C-af2e0d4a78034f698d98092b5e52fc4e
ECR_REPO_NAME=carbon-kube
HELM_RELEASE=carbon-kube
GRAFANA_PORT=3000
PROMETHEUS_PORT=9090